@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI Emoji", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, serif;

  /* Color Variables */
  --color-primary-gold: #ccae74;
  --color-secondary-gold: #9b7936;
  --color-navbar-bg: #fef4e1;
  --color-grey-primary: #7f7f7f;
  --color-grey-light: #797979;
  --color-grey-lighter: #dfdfdf;
  --color-shadow-gold: rgba(209, 172, 61, 0.3);
  --background-image-gold: linear-gradient(
    180deg,
    rgba(204, 174, 116, 0.5) 11.02%,
    rgba(155, 121, 54, 0.5) 93.11%
  );
  --background-image-overlay: linear-gradient(
    180deg,
    rgba(121, 121, 121, 0.1) 0%,
    rgba(223, 223, 223, 0.1) 100%
  );
  --background-image-overlayDark: linear-gradient(
   180deg, rgba(15, 17, 21, 1) 0%, rgba(15, 17, 21, 0.9) 90%
  );
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
